/* styling for Banner */
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

.over h2 {
    color: white;
    font-size: 30px;
    text-align: center;
}